@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --text: #deb887;
    --text-link: #f7a63d;
    --text-accent: #f5e0c5;
    --bg-color1: #161616;
    --bg-color2: #1D1D1D;
    --bg-active: #272727;
    --border: rgb(61, 61, 61);
    --border-active: rgb(105, 105, 105);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scrollbar-width: none;
}

body {
    position: relative;
    background-color: var(--bg-color1);
    color: var(--text);
}

main {
    display: flex;
    position: relative;
}

h2,
h3,
h6 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

p {
    width: 600px;
    line-height: 1.6em;
    text-align: justify;
    text-justify: inter-word;
    /* hyphens: auto; */
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.wrapper {
    border: 1px solid var(--border);
    border-radius: 8px;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background-color: var(--bg-color2);
    position: sticky;
    max-height: 100vh;
    top: 24px;
    min-height: fit-content;
    max-height: max-content;
}

aside {
    margin: 1rem 1rem;
    position: relative;
    padding: 0px 8px;
}

.termen-wrapper {
    position: sticky;
    top: 1rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 0;
    padding: 0px 16px 16px;
    background-color: var(--bg-color2);
    max-width: 380px;
}

button {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline;
    flex-direction: column;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

button:active {
    outline: 0;
}

button:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

u {
    display: inline;
}

p#uitleg{
    overflow-wrap: break-word;
}

p#uitleg>ul,
p#uitleg>ol {
    padding: 0.5rem 2rem;
}

p#uitleg>ul>li>ul,
p#uitleg>ol>li>ul,
p#uitleg>ul>li>ol,
p#uitleg>ol>li>ol {
    padding: 0rem 2rem;
}

p#uitleg a {
    text-decoration: dotted;
    color: var(--text-link);
}


.list-item {
    border: 1px solid var(--border);
    border-radius: 8px;
    list-style: none;
    padding: 4px 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.list-item.active {
    border: 1px solid var(--border-active);
    border-radius: 8px;
    background-color: var(--bg-active);
}

/* navigation */

nav.nav-top {
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 16px 32px 0px;
    font-size: 1.5rem;
    background-color: var(--bg-color2);
    padding: 8px 0px;
    display: block;
}

ul.nav-list {
    list-style: none;
    display: flex;
}

li.nav-link:first-child {
    margin-right: auto;
}

li.nav-link {
    margin: 16px;
}

a.a-nav {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--text);
}

a.a-nav:hover {
    color: var(--text-accent);
    border-color: var(--border-active);
    background-image: linear-gradient(#464d55, #25292e);
}

input.keuzelijst {
    margin-right: 8px;
    margin-bottom: 16px;
}

.keuzelijst:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--text);
}

th,
td {
    border: 1px solid var(--text);
    padding: 0.25rem 0.75rem;
}

td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(even),
thead {
    background: var(--bg-color1);
}

/* kbd styling van stack overflow ziet er wel goed uit*/
kbd {
    font-family: monospace;
    line-height: 1;
    display: inline;
    border: 1px solid var(--border);
    border-radius: 4px;
    margin: 0 0.25rem;
    padding: 5px 8px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, .2), 0 0 0 2px var(--border-active) inset;
    background-color: var(--bg-active);
}